.container{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: fit-content;
    margin: 20px 10px;
    
}

.paytype{
    display: flex;
    align-items: center;
    width: 330px;
    height: 90px;
    border: 1px solid white;
    border-radius: 14px;
    padding: 35px;
    margin-bottom: 15px;
    transition: 0.5s;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

.paytype img{
    width: 50px;
}

.paytype:hover{
    transform: scale(1.1);
}

.paytype p{
 font-size: 17px;
 margin-left: 45px;
 margin-bottom: 10px;
}

.photo{
    width: 50px;
    margin: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo span{
 font-size: 11px;
 margin-top: 5px;
}